%flex {
    display: flex;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-align {
    display: flex;
    align-items: center;
}

%box-shadow {
    -webkit-box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
    -moz-box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
}