/*__IMPORT__*/
/*--COLORS--*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  background: #F2F2F2;
  width: 100%;
  height: 100%;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 13px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-white: #fff;
  --color-purple: #A775F1;
  --color-dark70: #48556A;
}

.container {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}

.content__card {
  padding: 0 1em;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: repeat 5, 1fr;
      grid-template-rows: repeat 5, 1fr;
  grid-gap: 30px;
      grid-template-areas: "card1" "card2" "card3" "card4" "card5";
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 8px;
}

.card__1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: card1;
  position: relative;
  background: #7541c8;
  color: var(--color-white);
}

.card__2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: card2;
  position: relative;
  background: #48556a;
  color: var(--color-white);
}

.card__3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: card3;
  position: relative;
  background: white;
}

.card__4 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: card4;
  position: relative;
  background: #19212e;
  color: var(--color-white);
}

.card__5 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: card5;
  position: relative;
  background: white;
}

.card__bgQuotes {
  position: absolute;
  right: 15%;
  z-index: 1;
}

.card__profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 26px 0 18px 32px;
  z-index: 2;
}

.card__profil-picture {
  padding-right: 17px;
}

.card__profil-picture img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.card__profil-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__profil-information-name {
  line-height: 13px;
}

.card__profil-information-verified {
  font-size: 11px;
  line-height: 11px;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.card__description {
  padding: 0 32px 16px 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  z-index: 2;
}

.card__quotes {
  padding: 0 32px 32px 32px;
  mix-blend-mode: normal;
  opacity: 0.7;
  line-height: 18px;
}

.card:nth-child(1) .card__profile__img,
.card:nth-child(4) .card__profile__img {
  border: 2px solid var(--color-purple);
}

.card:nth-child(1) .card__description {
  opacity: 0.76;
}

.card:nth-child(1) .card__description {
  padding: 0 32px 40px 32px;
}

.card:nth-child(3) .card__description,
.card:nth-child(5) .card__description {
  color: var(--color-dark70);
}

@media screen and (min-width: 720px) {
  .container {
    padding: 2em;
  }
  .content__card {
    padding: 2em 8em;
    grid-gap: 0;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: "card1 card1" 
 "card2 card3" 
 "card4 card4" 
 "card5 card5";
  }
  .card {
    margin: 0 0 30px 0;
  }
  .card__2 {
    margin-right: 15px;
  }
  .card__3 {
    margin-left: 15px;
  }
}

@media screen and (min-width: 1180px) {
  .container {
    max-width: 1440px;
    height: 100vh;
    margin: auto;
  }
  .content__card {
    padding: 2em;
    max-width: 1200px;
    height: auto;
    margin: auto;
    grid-gap: 0px;
    -ms-grid-columns: (4fr)[4];
        grid-template-columns: repeat(4, 4fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "card1 card1 card2 card5" 
 "card3 card4 card4 card5";
  }
  .card {
    max-width: 540px;
    max-height: 282px;
  }
  .card__1,
  .card__2 {
    margin-bottom: 24px;
  }
  .card__2 {
    max-width: 255px;
  }
  .card__1,
  .card__2,
  .card__3,
  .card__4 {
    margin-right: 30px;
  }
  .card__3 {
    margin-left: 0px;
    max-width: 255px;
  }
  .card__3,
  .card__4 {
    margin-bottom: 0px;
    max-height: 266px;
  }
  .card__5 {
    max-height: 572px;
  }
  .card:nth-child(1) .card__description {
    padding: 0 32px 16px 32px;
  }
  .card:nth-child(5) .card__description {
    padding: 0 32px 24px 32px;
  }
}
/*# sourceMappingURL=style.css.map */